<div class="O_ProfileCard">
  <div class="ProfileContainer">
    <h3>Student Profile</h3>
    <div class="M_TwoButtons Sec_Tert">
      <div class="A_Button SecondaryButton">
        <%= link_to "Edit", edit_profile_path(@profile), class: "SecondaryButton_Text" %>
      </div>
      <% if user_signed_in? %>
        <div class="A_Button TertiaryButton">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, data: { "turbo-method": :delete }, class: "SecondaryButton_Text" %>
        </div>
      <% end %>
</div>
  </div>
  <div class="ProfilePhotoInfoContainer">
    <div class="M_StudentCardPhoto">
      <%= image_tag profile.user.profile.profile_photo.variant(resize_to_limit: [200, 200]), class: "Q_ApplicationFormImage" %>
    </div>
    <div class="ProfileCardContainer">
      <div class="M_StudentInfoTags">
        <% if profile.country.present? %>
          <div class="A_StudentInfoTag TagWithFlag">
            <div class="Q_FlagIcon"></div>
            <h6><%= profile.country %></h6>
          </div>
        <% end %>
        
        <% if profile.program_type.present? %>
          <div class="A_StudentInfoTag TagNoFlag">
            <h6><%= profile.program_type %></h6>
          </div>
        <% end %>
        
        <% if profile.faculty.present? %>
          <div class="A_StudentInfoTag TagNoFlag">
            <h6><%= profile.faculty %></h6>
          </div>
        <% end %>
      </div>
      <div class="M_StudentPersonalInfo">
        <% if profile.name.present? %>
          <h4><%= profile.name %></h4>
        <% end %>
        
        <% if profile.user.email.present? %>
          <p><%= profile.user.email %></p>
        <% end %>
        
        <% if profile.languages.present? %>
          <p class="PrimaryButton_Text"><%= profile.languages %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>