<div id="<%= dom_id profile %>">
  <p>
    <strong>Name:</strong>
    <%= profile.name %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= profile.date_of_birth %>
  </p>

  <p>
    <strong>Faculty:</strong>
    <%= profile.faculty %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= profile.country %>
  </p>

  <p>
    <strong>Languages:</strong>
    <%= profile.languages %>
  </p>

  <p>
    <strong>Program type:</strong>
    <%= profile.program_type %>
  </p>

  <div>
    <strong>Profile Photo:</strong><br />
      <%= image_tag profile.profile_photo, alt: "Profile photo" %>
  </div>
</div>
