<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  

  <%= f.fields_for :profile do |profile_form| %>

  <div class="field">
    <%= profile_form.label :first_name, "Введи имя" %><br />
    <%= profile_form.text_field :first_name %>
  </div>

  <div class="field">
    <%= profile_form.label :last_name, "Введи фамилию" %><br />
    <%= profile_form.text_field :last_name %>
  </div>

  <div class="field">
    <%= profile_form.label :date_of_birth, "Укажи дату рождения" %><br />
    <%= profile_form.date_select :date_of_birth, start_year: 1900, end_year: Time.current.year %>
  </div>

  <div class="field">
      <%= profile_form.label :country, "Укажи страну гражданства" %><br />
      <%= profile_form.text_field :country %>
  </div>
  
    <div class="InputDropdown">
      <%= profile_form.label :faculty, "Укажи факультет" %><br />
      <%= profile_form.select :faculty, ["Факультет математики", "Факультет экономических наук", "Московский институт электроники и математики им. А.Н. Тихонова", "Факультет компьютерных наук", "Высшая школа бизнеса", "Высшая школа юриспруденции и администрирования", "Факультет гуманитарных наук", "Факультет социальных наук", "Факультет креативных индустрий", "Факультет мировой экономики и мировой политики", "Факультет физики", "Международный институт экономики и финансов", "Факультет городского и регионального развития", "Факультет химии", "Факультет биологии и биотехнологии", "Факультет географии и геоинформационных технологий", "Школа иностранных языков", "Институт статистических исследований и экономики знаний", "Банковский институт", "Школа инноватики и предпринимательства"], prompt: "Выбери факультет",  class: "InputDropdown"%>
    </div>

    <div class="field">
      <%= profile_form.label :languages, "Укажи языки, на которых ты говоришь (через запятую и пробел)" %><br />
      <%= profile_form.text_field :languages %>
    </div>

    <div class="InputDropdown">
      <%= profile_form.label :program_type, "Укажи тип программы" %><br />
      <%= profile_form.select :program_type, ["Студент полной степени обучения", "Студент по обмену", "Студент программы подготовки"], prompt: "Выбери тип программы", class: "InputDropdown" %>
    </div>

    <div class="field">
      <%= profile_form.label :profile_photo, "Upload your profile photo" %><br />
      <%= profile_form.file_field :profile_photo %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Зарегистрироваться" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
