<%= form_with model: application_form, data: {turbo: false} do |form| %>
    <% if application_form.errors.any? %>
        <div style="color: red">
            <h2><%= pluralize(application_form.errors.count, "error") %> prohibited this form from being saved:</h2>
            <ul>
                <% application_form.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="O_Form">
        <div class="InputLegend">
            <legend>Tell us about your interests and hobbies</legend>
            <%= form.text_area :about, class: "A_Input", placeholder: "Tell about yourself" %>
        </div>

        <div class="InputLegend">
            <legend>When is your arrival date?</legend>
            <%= form.date_field :date_of_arrival, class: "A_Input"%>
        </div>

        <div class="InputLegend">
            <legend>What is the estimated time of arrival?</legend>
            <%= form.time_field :time_of_arrival, class: "A_Input", placeholder: "hh:mm" %>
        </div>

        <div class="InputLegend">
            <legend>What is your place of arrival?</legend>
            <%= form.select :place_of_arrival, 
                ['Sheremetyevo International Airport', 'Domodedovo International Airport', 'Vnukovo International Airport', 
                'Kazanskiy Railway Terminal', 'Leningradskiy Railway Terminal', 'Kurskiy Railway Terminal', 
                'Kievskiy Railway Terminal', 'Savyolovsky Railway Terminal', 'Yaroslavskiy Railway Terminal', 
                'Belorusskiy Railway Terminal', 'Paveletskiy Railway Terminal', 'Rizhskiy Railway Terminal', 
                'Eastern Railway Terminal'], 
                { prompt: "Not selected" }, 
                { class: "A_Input" } %>
        </div>

        <div class="M_TwoButtons Prim_Tert">
            <%= form.submit "NEXT", class: "A_Button PrimaryButton" %>
            <%= link_to "Sign in", "#", class: "A_Button SecondaryButton" %>
        </div>
    </div>
<% end %>