<% if current_user.buddy? %>
    <h2>Мои студенты</h2>
    <% my_students = @application_forms.where(buddy_id: current_user.id) %>
    <% if my_students.any? %>
        <div id="my_students">
            <% my_students.each do |form| %>
                <div class="application-card">
                    <%= render "application_forms/application", application_form: form %>
                    <p><strong>Status:</strong> Assigned to you as buddy.</p>
                </div>
            <% end %>
        </div>
    <% else %>
        <p>Ты пока не выбрал никого из иностранных студентов</p>
    <% end %>
    <h2>Свободные анкеты</h2>
    <% available_applications = @application_forms.where(buddy_id: nil) %>
    <% if available_applications.any? %>
        <div id="available_applications">
            <% available_applications.each do |form| %>
                <div class="application-card">
                    <%= render "application_forms/application", application_form: form %>
                </div>
            <% end %>
        </div>
    <% else %>
        <p>Пока что свободных анкет нет. Но они скоро появятся!</p>
    <% end %>
<% end %>

<% if current_user.international_student? %>
    <% form = @application_forms.find { |form| form.student_id == current_user.id } %>
    <% if form %>
        <p>
        <strong>Status:</strong>
            <% if form.buddy_id.nil? %>
                Заявка отправлена! Твой бадди свяжется с тобой, как только сможет.
            <% else %>
                Поздравляем! Теперь <%= form.buddy.profile.name %> — твой бадди!
            <% end %>
        </p>
    <% else %>
        <p>You have not submitted an application yet.</p>
        <%= render "form", application_form: @application_form %>
    <% end %>
<% end %>

<% if current_user.admin? %>
    <% @application_forms.each do |form| %>
        <p>
            <strong>Student Name:</strong> <%= form.student.name %><br>
            <strong>Buddy Assigned:</strong>
            <% if form.buddy_id.nil? %>
                Not yet assigned
            <% else %>
                <%= form.buddy.name %>
            <% end %>
        </p>
    <% end %>
<% end %>
