<div class="S_ApplicationForms">
  <% if current_user.buddy? %>
    <div class="ApplicationFilterContainer">
      <div class="M_ApplicationsToggle">
        <div class="ToggleOption_Container">
          <div class="A_ToggleOption <%= params[:view] != 'my_students' ? 'Toggled' : '' %>">
            <div></div>
            <%= link_to 'all applications', application_forms_path, class: 'PrimaryButton_Text' %>
          </div>
          <div class="A_ToggleOption <%= params[:view] == 'my_students' ? 'Toggled' : '' %>">
            <div></div>
            <%= link_to 'my students', application_forms_path(view: 'my_students'), class: 'PrimaryButton_Text' %>
          </div>
        </div>
        <div class="Q_Icon"></div>
      </div>
      
      <div class="O_ApplicationFilters">
        <div class="M_StudentApplicationFilters">
          <div class="InputLegend">
            <legend>Country</legend>
            <input class="A_Input" type="text" placeholder="Not selected" />
          </div>
          <div class="InputLegend">
            <legend>Languages</legend>
            <input class="A_Input" type="text" placeholder="Not selected" />
          </div>
          <div class="InputLegend">
            <legend>Type of program</legend>
            <input class="A_Input" type="text" placeholder="Not selected" />
          </div>
          <div class="InputLegend">
            <legend>Faculty</legend>
            <input class="A_Input" type="text" placeholder="Not selected" />
          </div>
        </div>
        <div class="A_Button PrimaryButton">
          <p class="PrimaryButton_Text">apply</p>
        </div>
      </div>
    </div>

    <div class="C_ApplicationFormCards">
      <% if params[:view] == 'my_students' %>
        <% my_students = @application_forms.where(buddy_id: current_user.id) %>
        <% if my_students.any? %>
          <% my_students.each do |form| %>
            <%= render "application", application_form: form %>
          <% end %>
        <% else %>
          <p>Ты пока не выбрал никого из иностранных студентов</p>
        <% end %>
      <% else %>
        <% available_applications = @application_forms.where(buddy_id: nil) %>
        <% if available_applications.any? %>
          <% available_applications.each do |form| %>
            <%= render "application", application_form: form %>
          <% end %>
        <% else %>
          <p>Пока что свободных анкет нет. Но они скоро появятся!</p>
        <% end %>
      <% end %>
    </div>

  <% elsif current_user.international_student? %>
    <div class="anketa">
      <h1 class="anketa_text">АнКета</h1>
      <% form = @application_forms.find { |form| form.student_id == current_user.id } %>
      <% if form %>
        <p class="post_header textleft anketa_container">
          <% if form.buddy_id.nil? %>
            Заявка отправлена! Твой бадди свяжется с тобой, как только сможет.
          <% else %>
            Поздравляем! Теперь <%= form.buddy.profile.name %> — твой бадди!
          <% end %>
        </p>
      <% else %>
        <p>You have not submitted an application yet.</p>
        <%= render "form", application_form: @application_form %>
      <% end %>
    </div>

  <% elsif current_user.admin? %>
    <div class="C_ApplicationFormCards">
      <% @application_forms.each do |form| %>
        <div class="O_StudentProfileCard">
          <div class="ProfileCardContainer">
            <div class="M_StudentPersonalInfo">
              <h4><%= form.student.profile.name %></h4>
            </div>
            <div class="M_StudentInfoTags">
              <div class="A_StudentInfoTag TagNoFlag">
                <h6>Assigned buddy: <%= form.buddy_id.nil? ? 'Not yet assigned' : form.buddy.name %></h6>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>