<div class="S_ApplicationForms">
  <% if current_user.buddy? %>
    <div class="ApplicationFilterContainer">
      <div class="M_ApplicationsToggle">
        <div class="ToggleOption_Container">
          <div class="A_ToggleOption <%= params[:view] != 'my_students' ? 'Toggled' : '' %>">
            <div></div>
            <%= link_to 'all applications', application_forms_path, class: 'PrimaryButton_Text' %>
          </div>
          <div class="A_ToggleOption <%= params[:view] == 'my_students' ? 'Toggled' : '' %>">
            <div></div>
            <%= link_to 'my students', application_forms_path(view: 'my_students'), class: 'PrimaryButton_Text' %>
          </div>
        </div>
        <div class="Q_Icon"></div>
      </div>
      
      <div class="O_ApplicationFilters">
        <div class="M_StudentApplicationFilters">
          <div class="InputLegend">
            <legend>Country</legend>
            <input class="A_Input" type="text" placeholder="Not selected" />
          </div>
          <div class="InputLegend">
            <legend>Languages</legend>
            <input class="A_Input" type="text" placeholder="Not selected" />
          </div>
          <div class="InputLegend">
            <legend>Type of program</legend>
            <input class="A_Input" type="text" placeholder="Not selected" />
          </div>
          <div class="InputLegend">
            <legend>Faculty</legend>
            <input class="A_Input" type="text" placeholder="Not selected" />
          </div>
        </div>
        <div class="A_Button PrimaryButton">
          <p class="PrimaryButton_Text">apply</p>
        </div>
      </div>
    </div>

    <div class="C_ApplicationFormCards">
      <% if params[:view] == 'my_students' %>
        <% my_students = @application_forms.where(buddy_id: current_user.id) %>
        <% if my_students.any? %>
          <% my_students.each do |form| %>
            <%= render "application", application_form: form %>
          <% end %>
        <% else %>
          <p>Ты пока не выбрал никого из иностранных студентов</p>
        <% end %>
      <% else %>
        <% available_applications = @application_forms.where(buddy_id: nil) %>
        <% if available_applications.any? %>
          <% available_applications.each do |form| %>
            <%= render "application", application_form: form %>
          <% end %>
        <% else %>
          <p>Пока что свободных анкет нет. Но они скоро появятся!</p>
        <% end %>
      <% end %>
    </div>

  <% elsif current_user.international_student? %>
    <div class="anketa">
      <% form = @application_forms.find { |form| form.student_id == current_user.id } %>
      <% if form %>
        <p class="post_header textleft anketa_container">
          <% if form.buddy_id.nil? %>
            <div class="O_FormCreated">
              <div class="HeaderCaptionText">
                <div class="A_RegistrationHeader">
                  <div class="RegistrationHeaderTitle">
                    <h2>YOUR application <br />has been sent</h2>
                    <div class="Q_Icon CrossBlack"></div>
                  </div>
                </div>
                <p class="Caption_Text Grey">Hi! This is a space for students to share insights, ask questions, and discuss university life. Feel free to ask anything!</p>
                </div>
              <div class="Q_ArticleCardImage BlackBoy"></div>
            </div>
          <% else %>
            <div class="O_PageHeader4">
              <div class="HeaderIconsFindbuddy"></div>
              <h1>FIND YOUR BUDDY</h1>
            </div>

            <div class="O_StudentProfileCard">
              <div class="M_StudentCardPhoto">
                <% if form.buddy && form.buddy.profile && form.buddy.profile.profile_photo.attached? %>
                  <%= image_tag form.buddy.profile.profile_photo, class: "Q_ApplicationFormImage" %>
                <% end %>
              </div>
              <div class="ProfileCardContainer">
                <div class="M_StudentInfoTags">
                  <div class="A_StudentInfoTag TagNoFlag">
                    <h6><%= form.buddy.profile.country %></h6>
                  </div>
                  <div class="A_StudentInfoTag TagNoFlag">
                    <h6><%= form.buddy.profile.faculty %></h6>
                  </div>
                </div>
                <div class="M_StudentPersonalInfo">
                  <h4><%= form.buddy.profile.name %></h4>
                  <p class="PrimaryButton_Text"><%= form.buddy.profile.languages %></p>
                </div>
                <div class="M_StudentAdditionalInfo">
                  <div class="BuddyContactContainer">
                    <h6>Contact e-mail</h6>
                    <p><%= form.buddy.email %></p>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </p>
      <% else %>
        <div class="O_PageHeader4">
          <div class="HeaderIconsFindbuddy"></div>
          <h1>FIND YOUR BUDDY</h1>
        </div>
        <%= render "form", application_form: @application_form %>
      <% end %>
    </div>

  <% elsif current_user.admin? %>
    <div class="C_ApplicationFormCards">
      <% @application_forms.each do |form| %>
        <div class="O_StudentProfileCard">
          <div class="ProfileCardContainer">
            <div class="M_StudentPersonalInfo">
              <h4><%= form.student.profile.name %></h4>
            </div>
            <div class="M_StudentInfoTags">
              <div class="A_StudentInfoTag TagNoFlag">
                <h6>Assigned buddy: <%= form.buddy_id.nil? ? 'Not yet assigned' : form.buddy.name %></h6>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
