<div class="discussion">

  <div id="<%= dom_id discussion %>">

    <div class="dis_tag_fav_container">
      
      <p class="edu_tag">
        <%= discussion.tag %>
        </p>

      <% if current_user %>
      <div>
        <% 
          is_bookmarked = discussion.bookmarks.where(user_id: current_user.id).exists?
          bookmark_icon = is_bookmarked ? "Icon_BookmarkActive.svg" : "Icon_BookmarkDefault.svg"
          bookmark_alt_text = is_bookmarked ? "Remove bookmark" : "Save to bookmarks"
        %>

        <%= link_to bookmark_discussion_path(discussion), method: :post, remote: true do %>
          <%= image_tag bookmark_icon, alt: bookmark_alt_text, class: "bookmark-icon" %>
          <span><%= discussion.bookmarks.count %></span>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="dis_icon_title_wrapper">
      <div class="discussion_icon">А</div>

      <h2>
        <%= link_to discussion.title, discussion_path(discussion), class: "discussion_header" %>
      </h2>

    </div>


    <div class="user_comments">
      <div class="avatar_username">
        <div class="dis_avatar"></div>

        <p class="caption_text">
          <%= discussion.user.profile&.name %>
        </p>
      </div>

      <div class="comment_count">
        <%= image_tag "Icon_comment.svg", class: "comment-icon" %>
        <p class="caption_text"><%= discussion.comments.count %></p>
      </div>
    </div>


  </div>

</div>
