<div id="<%= dom_id discussion %>">
  
  <h2>
    <%= link_to discussion.title, discussion_path(discussion) %>
  </h2>

  <p>
    <%= discussion.user.profile&.name %>
  </p>

  <h3>
    <%= discussion.title %>
  </h3>

  <p>
    <%= discussion.content %>
  </p>

  <p>
    <%= discussion.tag %>
  </p>

  <div class="comment_count">
    <%= image_tag "Icon_comment.svg", class: "comment-icon" %>
    <p><%= discussion.comments.count %></p>
  </div>

  <% if current_user %>
    <div class="bookmark_block">
      <% 
        is_bookmarked = discussion.bookmarks.where(user_id: current_user.id).exists?
        bookmark_icon = is_bookmarked ? "Icon_BookmarkActive.svg" : "Icon_BookmarkDefault.svg"
        bookmark_alt_text = is_bookmarked ? "Remove bookmark" : "Save to bookmarks"
      %>

      <%= link_to bookmark_discussion_path(discussion), method: :post, remote: true do %>
        <%= image_tag bookmark_icon, alt: bookmark_alt_text, class: "bookmark-icon" %>
        <span><%= discussion.bookmarks.count %></span>
      <% end %>
    </div>
  <% end %>

</div>
