<div class="O_Form">
  <div class="FormContainer">
    <div class="A_RegistrationHeader">
      <div class="RegistrationHeaderTitle">
        <h3>Ask anything</h3>
        <div class="Q_Icon CrossBlack" id="closeForm"></div>
      </div>
      <p class="Caption_Text">
        Hi! This is a space for students to share insights, ask questions,
        and discuss university life. Feel free to ask anything!
      </p>
    </div>
    <%= form_with model: @discussion, class: "M_FormDiscussion", id: "discussionForm", remote: true do |f| %>
      <div class="InputLegend">
        <%= f.label :title, "Type of discussion" %>
        <%= f.text_field :title, class: "A_Input", placeholder: "What is it about?" %>
      </div>
      <div class="InputLegend">
        <%= f.label :category, "Category" %>
        <%= f.text_field :category, class: "A_Input", placeholder: "Select category" %>
      </div>
      <div class="InputLegendLong">
        <%= f.label :content, "Question" %>
        <%= f.text_area :content, class: "A_Input ExpandedField", placeholder: "Type it here..." %>
      </div>
      <%= f.button type: "submit", class: "A_Button PrimaryButton" do %>
        <p class="PrimaryButton_Text">create discussion</p>
      <% end %>
    <% end %>
  </div>
</div>