<%
  set_meta_tags(
    title: "Обсуждения",
    description: "В обсуждениях можно задать интересующий вопрос о студенческой жизни в России и получить на него ответ от бадди и других студентов.",
    keywords: "статьи, документы, учёба, иностранные студенты, культура, быт"
  )
%>

<div class="S_DiscussionCards">
  <div class="O_PageHeader2">
    <div class="HeaderIconsWhat"></div>
    <h1>what's on your mind?</h1>
    <% if current_user %>
      <div data-controller="discussions-modal">
        <button class="A_Button PrimaryButton" 
          data-action="click->discussions-modal#showModal">
          <p class="PrimaryButton_Text">ask a question</p>
        </button>
        <%= render 'modal' %>
      </div>
    <% end %>
  </div>

  <div class="O_FilterAndSearch">
    <div class="M_TagsToggle">
      <div class="A_ToggleOption <%= params[:filter].blank? ? 'Toggled' : '' %>">
        <div></div>
        <%= link_to 'все', discussions_path, class: 'PrimaryButton_Text' %>
      </div>
      <div class="A_ToggleOption <%= params[:filter] == 'ДОКУМЕНТЫ' ? 'Toggled' : '' %>">
        <div></div>
        <%= link_to 'документы', discussions_path(filter: 'ДОКУМЕНТЫ'), class: 'PrimaryButton_Text' %>
      </div>
      <div class="A_ToggleOption <%= params[:filter] == 'БЫТ' ? 'Toggled' : '' %>">
        <div></div>
        <%= link_to 'быт', discussions_path(filter: 'БЫТ'), class: 'PrimaryButton_Text' %>
      </div>
      <div class="A_ToggleOption <%= params[:filter] == 'КУЛЬТУРА' ? 'Toggled' : '' %>">
        <div></div>
        <%= link_to 'культура', discussions_path(filter: 'КУЛЬТУРА'), class: 'PrimaryButton_Text' %>
      </div>
      <div class="A_ToggleOption <%= params[:filter] == 'ОБУЧЕНИЕ' ? 'Toggled' : '' %>">
        <div></div>
        <%= link_to 'обучение', discussions_path(filter: 'ОБУЧЕНИЕ'), class: 'PrimaryButton_Text' %>
      </div>
    </div>
    
    <div class="A_Input InputSearch">
      <div class="Q_Icon SearchGrey"></div>
      <%= form_tag discussions_path, method: :get do %>
        <%= text_field_tag :search, params[:search], placeholder: "Поиск" %>
      <% end %>
    </div>
  </div>

  <div class="C_DiscussionCards">
    <% if @discussions.any? %>
      <% @discussions.each do |discussion| %>
        <div class="O_DiscussionCardIndex">
          <%= render discussion %>
          
          <% if current_user&.admin? %>
            <div class="admin-actions">
              <%= link_to "Show this discussion", new_admin_discussion_path %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <p class="no-discussions">Нет обсуждений по выбранному фильтру</p>
    <% end %>
  </div>
</div>