<%
  set_meta_tags(
    title: @discussion.title,
    description: @discussion.content,
    keywords: "статьи, документы, учёба, иностранные студенты, культура, быт"
  )
%>

<%= @discussion.bookmarks.count %>

<%
  bookmarks_count = @discussion.bookmarks.count
  bookmark_text = "Save to bookmarks (#{bookmarks_count})"

  if current_user && @discussion.bookmarks.where(user_id: current_user.id).count > 0
    bookmark_text = "Delete from bookmarks (#{bookmarks_count})"
  end
%>

<%= render @discussion %>

<div>
  <% if current_user && current_user.admin? %>
  <%= link_to "Edit this discussion", edit_admin_discussion_path(@discussion) %> |
    <%= button_to "Destroy this discussion", admin_discussion_path(@discussion), method: :delete %>
  <% elsif can? :edit, @discussion %>
    <%= link_to "Edit this discussion", edit_discussion_path(@discussion) %> |
    <%= button_to "Destroy this discussion", discussion_path(@discussion), method: :delete %>
  <% end %>

  <%= link_to bookmark_text, bookmark_discussion_path(@discussion) %>
  <%= link_to "Back to discussions", discussions_path %>

  
</div>

<h2>Add a comment:</h2>
<%= render "admin/comments/form", commentable: @discussion, parent_comment_id: nil %>

<h2>Comments</h2>
<%= render @discussion.comments.not_replies, commentable: @discussion %>