<div class="post">

<div id="<%= dom_id post %>">

<% if current_user %>
    <div class="bookmark_block">
      <% 
        is_bookmarked = post.bookmarks.where(user_id: current_user.id).exists?
        bookmark_icon = is_bookmarked ? "Icon_BookmarkActive.svg" : "Icon_BookmarkDefault.svg"
        bookmark_alt_text = is_bookmarked ? "Remove bookmark" : "Save to bookmarks"
      %>

      <%= link_to bookmark_post_path(post), method: :post, remote: true do %>
        <%= image_tag bookmark_icon, alt: bookmark_alt_text, class: "bookmark-icon" %>
        
      <% end %>
    </div>
  <% end %>



  <%= image_tag post.post_image.url, class: "image_size" %>

  <div class="post_contents">
    <div>
      <p class="edu_tag">
        <%= post.tag %>
      </p>
    </div>

    <h2>
      <%= link_to post.title, post_path(post), class: "post_header" %>
    </h2>

    <p class="text_article_desc">
      <%= post.content %>
    </p>
  </div>



  
  </div>
</div>