<% 
  set_meta_tags(
    title: @post.title,
    description: @post.content,
    keywords: "статьи, документы, учёба, иностранные студенты, культура, быт"
  )
%>

<div class="O_ArticleHeader">
  <div class="M_ArticleHeader">
    <div class="A_ContentTag <%= tag_color_class(@post.tag) %>">
      <p class="Tag_Text"><%= @post.tag %></p>
    </div>
    <div class="A_ArticleHeader">
      <h2><%= @post.title %></h2>
      <p><%= @post.content %></p> 
    </div>
  </div>
  <div class="Q_ArticleHeaderImage">
    <%= image_tag @post.post_image.url, alt: @post.title, class: "article-image" %>
  </div>
</div>


<div>
  <% if current_user && current_user.admin? %>
    <%= link_to edit_admin_post_path(@post), class: 'A_Button SecondaryButton' do %>
      Edit this post
    <% end %> |
  
    <%= button_to "Destroy this post", [:admin, @post], method: :delete, class: 'A_Button TertiaryButton', data: { confirm: 'Are you sure you want to destroy this post?' } %>
  <% end %>
</div>