<%
  set_meta_tags(
    title: @post.title,
    description: @post.content,
    keywords: "статьи, документы, учёба, иностранные студенты, культура, быт"
  )
%>

<%= @post.bookmarks.count %>

<%
  bookmarks_count = @post.bookmarks.count
  bookmark_text = "Save to bookmarks (#{bookmarks_count})"

  if current_user && @post.bookmarks.where(user_id: current_user.id).count > 0
    bookmark_text = "Delete from bookmarks (#{bookmarks_count})"
  end
%>

<%= render 'posts/post', post: @post %>

<p>
  <strong>tags:</strong>
  <%= @post.tags %>
</p>

<div>
  <% if current_user && current_user.admin? %>
    <%= link_to "Edit this post", edit_admin_post_path(@post) %> |
    <%= button_to "Destroy this post", [:admin, @post], method: :delete %>
  <% end %>

  <%= link_to bookmark_text, bookmark_post_path(@post) %>
  <%= link_to "Back to posts", posts_path %>

</div>


<h2>Add a comment:</h2>
<%= render "admin/comments/form", commentable: @post, parent_comment_id: nil %>

<h2>Comments</h2>
<%= render @post.comments.not_replies, commentable: @post %>



