<div class="O_Header_Main">
    <div class="M_HeaderNavigation">
        <%= link_to root_url, class: "Q_Logo" do %>
            <!-- Logo image would go here -->
        <% end %>
    
    <div class="A_Header">
        <%= link_to "DISCUSSIONS", discussions_url, class: "Q_PageLink" %>
        <%= link_to "TIPS&TRICKS", posts_url, class: "Q_PageLink" %>
        <%= link_to "ABOUT", posts_url, class: "Q_PageLink" %>

        <% if user_signed_in? %>
            <% if current_user.user_role == 'international_student' %>
                <%= link_to "FIND A BUDDY", application_forms_url, class: "Q_PageLink" %>
            <% elsif current_user.user_role == 'buddy' %>
                <%= link_to "APPLICATIONS", application_forms_url, class: "Q_PageLink" %>
            <% elsif current_user.admin? %>
                <%= link_to "USER MANAGEMENT", admin_users_url, class: "Q_PageLink" %>
            <% end %>
        <% end %>
        </div>
    </div>

    <div class="M_HeaderSettings">
        <div class="A_Language BlackSelect">
            <p class="Tag_Text">en</p>
            <div class="Q_Icon DropDownWhiteDefault"></div>
        </div>
    
        <div class="A_Profile">
            <% if user_signed_in? %>
                <%= link_to profile_path(current_user.profile) do %>
                    <div class="Q_Icon ProfileWhite"></div>
                <% end %>
            <% else %>
                <%= link_to new_user_registration_path do %>
                    <div class="Q_Icon ProfileWhite"></div>
                <% end %>
            <% end %>
        </div>
    </div>
</div>