<nav class="A_MenuBar">

    <%= link_to "главная", root_url %>
    <%= link_to "статьи", posts_url %>
    <%= link_to "обсуждения", discussions_url %>
    <%= link_to "о нас", home_about_url %>

    <% if user_signed_in? %>
        <% if current_user.user_role == 'international_student' %>
            <%= link_to "заявка на бадди", application_forms_url, style: "color: black;" %>
        <% elsif current_user.user_role == 'buddy' %>
            <%= link_to "анкеты студентов", application_forms_url, style: "color: black;" %>
        <% elsif current_user.admin? %>
            <%= link_to "Подписки", admin_subscriptions_url, style: "color: black;" %>
            <%= link_to "Управление пользователями", admin_users_url, style: "color: black;" %>
        <% end %>
    <% end %>

    <div class="userlogin">
        <% if user_signed_in? %>
            <%= link_to profile_path(current_user.profile) do %>
                <%= image_tag "Q_ProfileIcon.svg", alt: "Profile", class: "menu_icon" %>
            <% end %>
        <% else %>
            <%= link_to "войти", new_user_session_path %>
            <%= link_to "зарегистрироваться", new_user_registration_path %>
        <% end %>
    </div>
</nav>